<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
   
    <link rel="stylesheet" href="static/app/css/style.css">

</head>
<body>
    


    <header class="header">

        <a href="#" class="logo"><i class="fas fa-book"></i> DuocLearn</a>

        <nav class="navbar">
            <a href="#home" class="hover-underline">Inicio</a>
            <a href="#about" class="hover-underline">Cursos</a>
            <a href="#courses" class="hover-underline">Docentes</a>
            <a href="#teacher" class="hover-underline">Foro</a>
            <a href="#review" class="hover-underline">Contacto</a>
            <a href="#blog" class="hover-underline">Acerca de nosotros</a>
            <a href="#contact" class="hover-underline">Postula curso</a>
        </nav>

        <div class="icons">
            <div id="login-btn" class="fas fa-user"></div>
            <div id="menu-btn" class="fas fa-bars"></div>
        </div>

        

        <form action="" class="login-form">
            <h3>Fomulario de inicio</h3>
            <input type="txtEmail" placeholder="Ingresa tu email" class="box">
            <input type="txtPass" placeholder="Ingresa tu contraseña" class="box">
            <div class="Recuerdame">
                <input type="checkbox" name="" id="remember">
                <label for="remember-me">Recuerdame</label>
            </div>
            <a href="#" class="btn">
                <span class="text text-1">Iniciar Sesión</span>
                <span class="text text-2" aria-hidden="true">Iniciar sesión</span>
            </a>
        </form>

    </header>



    <section class="home" id="home">

        <div class="content">
            <h3 style="color: white;">Los mejores cursos los encuentras aquí</h3>
            <p style="color: white;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam animi fuga unde, voluptates, 
                nisi qui hics.</p>
            <a href="#" class="btn">
                <span class="text text-1">Descubre más</span>
                <span class="text text-2" aria-hidden="true">Descubre más</span>
            </a>    
        </div>

    </section>

 
    <section class="about" id="about">

        <h1 class="heading">Sobre Nosotros</h1>

        <div class="container">

            <figure class="about-image">
                <img src="images/about.jpg" alt="" height="500">
                <img src="images/about-1.jpg" alt="" class="about-img">
            </figure>

            <div class="about-content">
                <h3>Somos pioneros en la forma de estudiar</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aut impedit expedita aliquam 
                    provident quod excepturi minus. Similique eveniet fugiat doloribus nisi saepe cupiditate iusto itaque totam! Officia, enim qui.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptatum ipsa quod dolores officia at excepturi quas numquam vero dolorem vitae 
                    veritatis quisquam fugit voluptates doloribus, id pariatur in ipsam?</p>    
                <a href="#" class="btn">
                    <span class="text text-1">Aprende más</span>
                    <span class="text text-2" aria-hidden="true">Aprende más</span>
                </a>        
            </div>

        </div>

    </section>



    <section class="subjects">

        <h1 class="heading">Categorias mas destacadas</h1>

        <div class="box-container">

            <div class="box">
                <img src="images/subject-1.png" alt="">
                <h3 style="color: white;">Desarrollo</h3>
                <p style="color: white;">Descubre!</p>
            </div>

            <div class="box">
                <img src="images/subject-2.png" alt="">
                <h3 style="color: white;">Edición</h3>
                <p style="color: white;">Descubre!</p>
            </div>

            <div class="box">
                <img src="images/subject-3.png" alt="">
                <h3 style="color: white;">Matematicas</h3>
                <p style="color: white;">Descubre!</p>
            </div>

            <div class="box">
                <img src="images/subject-4.png" alt="">
                <h3 style="color: white;">Otros</h3>
                <p style="color: white;">Descubre!</p>
            </div>

        </div>

    </section>



    <section class="courses" id="courses">

        <h1 class="heading">Nuestros cursos</h1>

        <div class="box-container">

            <div class="box">
                <div class="image shine">
                    <img src="static/app/img/progra.jpg" alt="">
                    <h3>Basico</h3>
                </div>
                <div class="content">
                    <h4>$5.900</h4>
                    <p>Actualizado 22/08/2024</p>
                    <h3>Desarrollo Front End</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 lessons</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="static/app/img/database.png" alt="">
                    <h3>Basico</h3>
                </div>
                <div class="content">
                    <h4>$8.990</h4>
                    <p>Actualizado 22/08/2024</p>
                    <h3>Desarrollo Front End</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 lessons</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="static/app/img/english.jpg" alt="">
                    <h3>Basico</h3>
                </div>
                <div class="content">
                    <h4>$8.990</h4>
                    <p>Actualizado 22/08/2024</p>
                    <h3>Desarrollo Front End</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 lessons</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="static/app/img/math.jpg" alt="">
                    <h3>Basico</h3>
                </div>
                <div class="content">
                    <h4>$8.990</h4>
                    <p>Actualizado 22/08/2024</p>
                    <h3>Desarrollo Front End</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 lessons</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="static/app/img/gcp.png" alt="">
                    <h3>Basico</h3>
                </div>
                <div class="content">
                    <h4>$8.990</h4>
                    <p>Actualizado 22/08/2024</p>
                    <h3>Desarrollo Front End</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 lessons</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="static/app/img/hw.jpg" alt="">
                    <h3>Basico</h3>
                </div>
                <div class="content">
                    <h4>$8.990</h4>
                    <p>Actualizado 22/08/2024</p>
                    <h3>Desarrollo Front End</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 lessons</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <section class="teacher" id="teacher">

        <h1 class="heading">Conoce nuestros docentes</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="images/teacher-1.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Ferxxo</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="static/app/img/teachermath.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Ferxxo</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/teacher-3.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Ferxxo</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/teacher-4.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Ferxxo</h3>
                    <span>instructor</span>
                </div>
            </div>

        </div>

    </section>

    <section class="review" id="review">

        <h1 class="heading">Opiniones de nuestros estudiantes</h1>

        <div class="swiper review-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="static/app/img/student1.jpg" alt="">
                        <div class="user-info">
                            <h3>Ferxxo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="static/app/img/student2.jpg" alt="">
                        <div class="user-info">
                            <h3>Ferxxo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/review-3.png" alt="">
                        <div class="user-info">
                            <h3>Ferxxo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/review-4.png" alt="">
                        <div class="user-info">
                            <h3>Ferxxo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/review-5.png" alt="">
                        <div class="user-info">
                            <h3>Ferxxo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/review-6.png" alt="">
                        <div class="user-info">
                            <h3>Ferxxo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>



    <section class="blog" id="blog">

        <h1 class="heading">Nuestros blogs</h1>

        <div class="box-container">

            <div class="box">
                <div class="image shine">
                    <img src="images/blog-1.jpg" alt="">
                    <h3>09 dec 2022</h3>
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by admin</a>
                    </div>
                    <h3>Encuentra el curso ideal para ti</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam explicabo minus.</p>
                    <a href="#" class="btn">
                        <span class="text text-1">Aprende más</span>
                        <span class="text text-2" aria-hidden="true">Aprende más</span>
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="images/blog-2.jpg" alt="">
                    <h3>09 dec 2022</h3>
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by admin</a>
                    </div>
                    <h3>Encuentra el curso ideal para ti</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam explicabo minus.</p>
                    <a href="#" class="btn">
                        <span class="text text-1">Aprende más</span>
                        <span class="text text-2" aria-hidden="true">Aprende más</span>
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="images/blog-3.jpg" alt="">
                    <h3>09 dec 2022</h3>
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by admin</a>
                    </div>
                    <h3>Encuentra el curso ideal para ti</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam explicabo minus.</p>
                    <a href="#" class="btn">
                        <span class="text text-1">Aprende más</span>
                        <span class="text text-2" aria-hidden="true">Aprende más</span>
                    </a>
                </div>
            </div>

        </div>

    </section>


    <section class="contact" id="contact">

        <h1 class="heading">Contactanos</h1>

        <div class="row">
            <div class="image">
                <img src="static/app/img/contacus.jpg" alt="">
            </div>
            <form action="">
                <h3>Envianos un mensaje</h3>
                <input type="text" placeholder="Nombre" class="box">
                <input type="email" placeholder="Email" class="box">
                <input type="number" placeholder="Numero telefono" class="box">
                <textarea placeholder="Mensaje" class="box" cols="30" rows="10"></textarea>
                <a href="#" class="btn">
                    <span class="text text-1">Enviar mensaje</span>
                    <span class="text text-2" aria-hidden="true">Enviar mensaje</span>
                </a>
            </form>
        </div>

    </section>

  

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>Encuntranos aqui</h3>
                <p style="color: white;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum beatae.</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box">
                <h3>Contactanos</h3>
                <p style="color: white;">+56 9 4456 6754</p>
                <a href="#" class="link" style="color: white;">DuocLearn@gmail.com</a>
            </div>

            <div class="box">
                <h3 >Ubicación</h3>
                <p style="color: white;">Lota street #2345<br style="color: white;">
                Peñalolen <br style="color: white;">
                Chiles</p>
            </div>

        </div>
        <div class="credit" style="color: white;">Nunca es <span>Tarde </span style="color: white;">Para aprender!</div>
    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="static/app/js/funciones.js"></script>
</body>
</html>